@media only screen and (max-width: 768px) {
  main {
    background: url("../img/bg1.jpg") no-repeat center center fixed;
    background-position: 50% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  header .navbar-brand {
    padding-left: 1rem;
  }

  .bd-example .carousel-item {
    height: 100vh;
  }

  .bd-example .carousel-item img {
    height: 80vh;
  }

  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }

  .section-2 .cover {
    background-position: -25vmin -10vmin;
  }

  .numbers .rect {
    width: 10rem;
    height: 8rem;
  }

  .numbers .rect h1 {
    font-size: 2rem;
  }

  .section-3 {
    height: inherit;
    padding: 10vmin !important;
  }

  .section-3 .row h1 {
    padding: 6vmin 4vmin;
  }

  .section-3 .row .col-md-6 {
    text-align: center !important;
  }

  .section-3 .desktop i {
    font-size: 8vmin;
  }

  .section-4 .carousel-item {
    padding-left: 0.6rem;
  }

  .section-4 .team {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .section-4 .carousel-inner {
    width: 24rem;
  }
}
@media only screen and (max-width: 425px) {
  .bd-example .carousel-item {
    height: 50vh;
  }

  .bd-example .carousel-item img {
    height: 50vh;
  }
  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
}

@media only screen and (max-width: 320px) {
  main {
    background: url("../img/bg1.jpg") no-repeat center center fixed;
    background-position: 50% 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
  }
  .section-6 .title::before {
    transform: translateY(49px);
  }

  .bd-example .carousel-item {
    height: 50vh;
  }

  .bd-example .carousel-item img {
    height: 50vh;
  }
  .section-4 .card {
    width: 18rem;
  }

  .section-4 .carousel-inner {
    margin-left: -14vmin;
  }

  .section-6 h1 {
    font-size: 1.75rem;
  }

  #team .title::before {
    transform: translateY(49px);
  }

  #team h1 {
    font-size: 1.75rem;
  }

  .section-5 .title::before {
    transform: translateY(49px);
  }

  .section-5 h1 {
    font-size: 1.75rem;
  }

  .section-1 .title::before {
    transform: translateY(49px);
  }

  .section-1 h1 {
    font-size: 1.75rem;
  }
}
