@media only screen and (max-width: 768px) {
  /* sticky */
  .sticky-container a {
    padding: 12px;
    font-size: 15px;
  }

  /* navbar */
  nav ul {
    background-color: rgba(255, 255, 255, 0.8);
  }

  header .navbar-brand {
    padding-left: 1rem;
  }

  /* carousel */

  .bd-example .carousel-item {
    height: 50vh;
  }

  .bd-example .carousel-item img {
    height: 50vh;
  }

  /* courses */
  #courses .row:last-child #masterdesign {
    margin-left: auto !important;
  }

  #courses .row:last-child #shortterm {
    margin-right: auto !important;
  }

  /* testimonials */

  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}
@media only screen and (max-width: 435px) {
  /* main */
  main {
    background: url("../img/bg1.jpg") repeat 50% 0 fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
  }

  /* sticky */
  .sticky-container a {
    padding: 8px;
    font-size: 10px;
  }

  /* navbar */
  #main-nav ul {
    background-color: rgba(255, 255, 255, 0.8);
  }

  /* carousel */

  .bd-example .carousel-item {
    height: 50vh;
  }

  .bd-example .carousel-item img {
    height: 50vh;
  }

  /* whyidi */
  #whyidi img {
    width: 100%;
  }

  /* courses */
  #courses .row:last-child #masterdesign {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  #courses .row:last-child #shortterm {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  /* footer */

  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
}

@media only screen and (max-width: 320px) {
  /* main */

  main {
    background: url("../img/bg1.jpg") repeat 50% 0 fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
  }

  /* sticky */
  .sticky-container a {
    padding: 8px;
    font-size: 10px;
  }

  /* navbar */
  nav ul {
    background-color: rgba(255, 255, 255, 0.8);
  }

  nav {
    height: 150px;
  }

  /* carousel */

  .bd-example .carousel-item {
    height: 50vh;
  }

  .bd-example .carousel-item img {
    height: 50vh;
  }

  /* whyidi */

  #whyidi img {
    width: 100%;
  }

  /* courses */
  #courses .row:last-child #masterdesign {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  #courses .row:last-child #shortterm {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  /* portfolio */

  #portfolio h1 {
    font-size: 1.75rem;
  }

  /* coaching */

  #coaching h1 {
    font-size: 1.75rem;
  }

  /* courses */

  #courses .card {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  #courses h1 {
    font-size: 1.75rem;
  }

  /* experts */

  #experts h1 {
    font-size: 1.75rem;
  }
}

/* Iphone */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  nav {
    background-attachment: scroll;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  nav {
    background-attachment: scroll;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  nav {
    background-attachment: scroll;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  nav {
    background-attachment: scroll;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  nav {
    background-attachment: scroll;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  nav {
    background-attachment: scroll;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  nav {
    background-attachment: scroll;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  nav {
    background-attachment: scroll;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  nav {
    background-attachment: scroll;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  nav {
    background-attachment: scroll;
  }
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  nav {
    background-attachment: scroll;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  nav {
    background-attachment: scroll;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  nav {
    background-attachment: scroll;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  nav {
    background-attachment: scroll;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  nav {
    background-attachment: scroll;
  }
}
