@media only screen and (max-width: 768px) {
  /* navbar */

  /* navbar */
  nav ul {
    background-color: rgba(255, 255, 255, 0.8);
  }

  header .navbar-brand {
    padding-left: 1rem;
  }

  /* carousel */

  .bd-example .carousel-item {
    height: 50vh;
  }

  .bd-example .carousel-item img {
    height: 50vh;
  }

  /* testimonials */

  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}
@media only screen and (max-width: 435px) {
  /* main */
  main {
    background: url("../img/bg1.jpg") repeat 50% 0 fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
  }

  /* navbar */
  nav ul {
    background-color: rgba(255, 255, 255, 0.8);
  }

  /* carousel */

  .bd-example .carousel-item {
    height: 50vh;
  }

  .bd-example .carousel-item img {
    height: 50vh;
  }

  /* footer */

  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
}

@media only screen and (max-width: 320px) {
  /* main */

  main {
    background: url("../img/bg1.jpg") repeat 50% 0 fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
  }

  /* navbar */
  nav ul {
    background-color: rgba(255, 255, 255, 0.8);
  }

  /* carousel */

  .bd-example .carousel-item {
    height: 50vh;
  }

  .bd-example .carousel-item img {
    height: 50vh;
  }

  /* whyidi */

  #whyidi img {
    width: 100%;
  }

  /* portfolio */

  #portfolio h1 {
    font-size: 1.75rem;
  }

  /* coaching */

  #coaching h1 {
    font-size: 1.75rem;
  }

  /* courses */

  #courses .card {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  #courses h1 {
    font-size: 1.75rem;
  }

  /* experts */

  #experts h1 {
    font-size: 1.75rem;
  }
}
