#cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #fff; z-index:9999;}
/* Google font */
hr.style-three {
  height: 30px;
  border-style: solid;
  border-color: white;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style-three:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: white;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cookie|Courgette|Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alegreya|Alegreya+SC|Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=Allura&display=swap");

* {
  box-sizing: border-box;
}

/* Body */
body {
  position: relative;
}

/* Preloader */

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat; /* Determine what direction the image will repeat */
  background-position: left 15%; /* Where the image will be positioned relative to "top, right, bottom, and/or left */
  background-attachment: scroll; /* use with "fixed" to make it scroll with page */
  z-index: 999999;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48%;
  left: 48%;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* header */

header,
section {
  overflow-x: hidden;
}

/* sticky social bar */
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.sticky-container {
  position: fixed;
  top: 50%;
  z-index: 2;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.sticky-container a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.sticky-container a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.whatsapp {
  background: #25d366;
  color: white;
}

.instagram {
  background: #fd1d1d;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

/* main */
main {
  overflow-x: hidden;
  background: url("../img/bg1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: left 15%;
  background-attachment: fixed;
}
.applemain
{

  background-image: url("../img/bg1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: contain;
  -o-background-size: cover;
  background-repeat: no-repeat; /* Determine what direction the image will repeat */
  background-position: left 15%; /* Where the image will be positioned relative to "top, right, bottom, and/or left */
  background-attachment: scroll; /* use with "fixed" to make it scroll with page */
}



/* Initialize Variable */

:root {
  --Snigle-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "Lobster", cursive;
  --Cookie: "Cookie", cursive;
  --Sacramento: "Sacramento", cursive;
  --Courgette: "Courgette", cursive;
  --Alegreya: "Alegreya", serif;
  --AlegreyaSC: "Alegreya SC", serif;
  --Merriweather: "Merriweather", serif;
  --light-black: #2e2c2caf;
  --Allura: "Allura", cursive;
  --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
  --light-gray: rgba(255, 255, 255, 0.3);
}

.gc-light-blue {
  background: rgba(0, 0, 0, 0.8);
}

marquee p {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
}

/* Header */

#home marquee {
  position: relative;
  top: 160px;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
}

#home marquee p {
  color: #304ffe;
}

nav {
  height: 170px;
  background-image: url("../img/bg1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat; /* Determine what direction the image will repeat */
  background-position: left 15%; /* Where the image will be positioned relative to "top, right, bottom, and/or left */
  background-attachment: fixed; /* use with "fixed" to make it scroll with page */
}
.applenav {
  height: 170px;
  background-image: url("../img/bg1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat; /* Determine what direction the image will repeat */
  background-position: left 15%; /* Where the image will be positioned relative to "top, right, bottom, and/or left */
  background-attachment: scroll; /* use with "fixed" to make it scroll with page */
}
.bd-example {
  position: relative;
  margin-top: 150px;
}

.bd-example #overlay {
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
}

.bd-example #overlay p {
  margin: 0;
  color: #fff;
  font-size: 1vmax;
  font-family: sans-serif;
  font-weight: bold;
}

.bd-example #overlay ul {
  color: #fff;
  font-size: 1vmax;
  font-family: sans-serif;
}

.bd-example .carousel-caption {
  bottom: 0;
  top: 50%;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #000;
  font-family: sans-serif;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-weight: 600;
  font-family: sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffeb3b;
  font-weight: 600;
}

.navbar-light .navbar-brand {
  color: #fff;
}

header .nav-item {
  padding: 0.2em;
}

/* Carousel */

.bd-example .carousel-inner img {
  height: 100vh;
}

/* About */

#about .container {
  background: #000;
  color: #fff;
}

.title {
  background: rgb(25, 118, 210);
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

#about .about-title {
  font-size: 1.8em;
}

#about .about-title span {
  font-family: sans-serif;
}

#about .about-content {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

/* whyidi */

#whyidi .container {
  background: #000;
  color: #fff;
}

#whyidi img {
  height: 370px;
  width: 80%;
}

#whyidi li {
  background: #000;
}

#whyidi li {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

#whyidi .col-md-6:last-child {
  display: grid;
}

/* Expert */

#experts .container {
  background: #000;
  color: #fff;
}

#experts .panel p {
  font-family: sans-serif;
}

#experts .row .col-md-6 .pray img {
  width: 60%;
  border-radius: 0.2em;
}

#about #handwriting {
  font-family: sans-serif;
  font-size: 1.8em;
}

/* Courses */

#courses .container {
  background: #000;
}

#courses #course-detail .card {
  font-family: sans-serif;
  font-weight: 500;
}

#courses .row:last-child .card {
  /* border-bottom-right-radius: 3rem; */
  /* border-top-left-radius: 3rem; */
  width: 18rem;
}

#courses .row:last-child #masterdesign {
  margin-left: auto;
}

#courses .row:last-child #shortterm {
  margin-right: auto;
}

#courses .row:last-child .card-title {
  font-family: sans-serif;
}

#courses .panel p {
  font-family: sans-serif;
}

#courses .card-zoom .inner {
  overflow: hidden;
}

#courses .card-zoom .inner img {
  transition: all 1.5s ease;
}

#courses .card-zoom .inner:hover img {
  transform: scale(1.5);
}

#courses .card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

/* coaching */

#coaching .container {
  background: #000;
}

#coaching h4 {
  font-family: sans-serif;
}

#coaching p {
  font-family: sans-serif;
}

#coaching .card {
  border: none;
  background: #fff;
  min-height: 312px;
  perspective: 1000px;
}

#buttonHover:hover {
  cursor: pointer;
  background: #fff;
}

#buttonHover:hover i {
  color: #000 !important;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

#coaching .flip-card-front .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

#coaching .flip-card-front .card-body .card-title,
#coaching .flip-card-back .card-body .card-title {
  color: #000 !important;
}

#coaching .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

#coaching .card-body,
#coaching .card-footer {
  background: #fff;
}

#coaching .card-footer a {
  cursor: pointer;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
#coaching .hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front {
  width: 100%;
  height: 100%;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
  backface-visibility: hidden;
}

.flip-card-back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fff;
  color: black;
}

/* Style the back side */
.flip-card-back {
  color: #000;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

/* portfolio */

#portfolio .container {
  background: #000;
}

#portfolio marquee p {
  font-family: var(--Allura) !important;
  font-weight: 200 !important;
}

#baguetteBox-overlay .full-image figcaption {
  font-size: 1.7rem;
  color: #fff;
}

#portfolio img.d-block.img-fluid {
  height: 200px;
}

/* Events */

#events .container {
  background: #000;
  font-family: sans-serif;
}

#events img.d-block.img-fluid {
  height: 400px;
}

/* Testimonials */

#testimonials .container {
  background: #000;
  color: #fff;
}

.photo-gallery {
  color: #313437;
  background-color: #fff;
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

/* Register */

#register .container {
  background: #000;
  color: #fff;
}

#register .card {
  background: #000;
  color: #fff;
}

#register input::placeholder {
  color: #000 !important;
}

/* Contact */

#contact .container {
  background: #000;
  color: #fff;
}

#contact .card {
  background: #000;
  color: #fff;
}

#contact .card p {
  font-family: sans-serif;
}

/* Footer */

footer {
  overflow-x: hidden;
  /* padding: 14vmin 18vmin; */
}

footer .container-fluid {
  background-color: #000;
}
